In [19]:
# import libraries
import pandas as pd
import requests
from pathlib import Path
from bs4 import BeautifulSoup

# assign the path for storing data
DATA_DIR   = "../data/raw/"

In [6]:
# read data
house_2018_raw = pd.read_csv('../data/raw/2018_house_raw.csv')
house_2018_raw

,Dist,2018 Winner,Dem Votes,GOP Votes,Other Votes,Dem %,GOP %,Other %,Dem Margin,2016 Clinton Margin,Swing vs. 2016 Prez,Raw Votes vs. 2016
0,AL-01,Bradley Byrne (R),89226,153228,163,36.8,63.2,0.1,-26.4,-29.2,2.8,79.3
1,AL-02,Martha Roby (R),86931,138879,420,38.4,61.4,0.2,-23.0,-31.7,8.7,78.7
2,AL-03,Mike Rogers (R),83996,147770,149,36.2,63.7,0.1,-27.5,-33.0,5.5,79.6
3,AL-04,Robert Aderholt (R),46492,184255,222,20.1,79.8,0.1,-59.6,-62.5,2.9,78.9
4,AL-05,Mo Brooks (R),101388,159063,222,38.9,61.0,0.1,-22.1,-32.9,10.8,82.8
...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-05,Jim Sensenbrenner (R),138385,225619,1,38.0,62.0,0.0,-24.0,-19.8,-4.2,89.7
431,WI-06,Glenn Grothman (R),144536,180311,0,44.5,55.5,0.0,-11.0,-16.6,5.6,87.5
432,WI-07,Sean Duffy (R),124307,194061,4419,38.5,60.1,1.4,-21.6,-20.3,-1.3,86.5
433,WI-08,Mike Gallagher (R),119265,209410,0,36.3,63.7,0.0,-27.4,-17.4,-10,88.3
434,WY-AL,Liz Cheney (R),59903,127963,13379,29.8,63.6,6.6,-33.8,-46.3,12.5,78.7

In [20]:
# find the state abbreviations
state_res = requests.get('https://www.ssa.gov/international/coc-docs/states.html')
state_soup = BeautifulSoup(state_res.content, 'lxml')
state_html = state_soup.find(text = 'Two-Letter State Abbreviations').find_next('table')
state = pd.DataFrame(pd.read_html(str(state_html))[0])
state.drop(state[state[0].isin(['AMERICAN SAMOA', 'GUAM', 'NORTHERN MARIANA IS', 'PUERTO RICO', 'VIRGIN ISLANDS'])].index, inplace = True)
state = state.reset_index(drop = True)
state = state.rename(columns={0:"full_name", 1:"abbrevation"})
state = state.set_index("full_name")

state.to_csv(f"{DATA_DIR}state_abbreviation.csv")
state

                       0   1
0                ALABAMA  AL
1                 ALASKA  AK
2                ARIZONA  AZ
3               ARKANSAS  AR
4             CALIFORNIA  CA
5               COLORADO  CO
6            CONNECTICUT  CT
7               DELAWARE  DE
8   DISTRICT OF COLUMBIA  DC
9                FLORIDA  FL
10               GEORGIA  GA
11                HAWAII  HI
12                 IDAHO  ID
13              ILLINOIS  IL
14               INDIANA  IN
15                  IOWA  IA
16                KANSAS  KS
17              KENTUCKY  KY
18             LOUISIANA  LA
19                 MAINE  ME
20              MARYLAND  MD
21         MASSACHUSETTS  MA
22              MICHIGAN  MI
23             MINNESOTA  MN
24           MISSISSIPPI  MS
25              MISSOURI  MO
26               MONTANA  MT
27              NEBRASKA  NE
28                NEVADA  NV
29         NEW HAMPSHIRE  NH
30            NEW JERSEY  NJ
31            NEW MEXICO  NM
32              NEW YORK  NY
33        NORTH CAROLINA  NC
34          NORTH DAKOTA  ND
35                  OHIO  OH
36              OKLAHOMA  OK
37                OREGON  OR
38          PENNSYLVANIA  PA
39          RHODE ISLAND  RI
40        SOUTH CAROLINA  SC
41          SOUTH DAKOTA  SD
42             TENNESSEE  TN
43                 TEXAS  TX
44                  UTAH  UT
45               VERMONT  VT
46              VIRGINIA  VA
47            WASHINGTON  WA
48         WEST VIRGINIA  WV
49             WISCONSIN  WI
50               WYOMING  WY

In [22]:
# split the state from the district number
house_2018_raw_state = house_2018_raw
house_2018_raw_state['state'] = house_2018_raw['Dist'].str.split('-', expand = True)[0]
house_2018_raw_state

,Dist,2018 Winner,Dem Votes,GOP Votes,Other Votes,Dem %,GOP %,Other %,Dem Margin,2016 Clinton Margin,Swing vs. 2016 Prez,Raw Votes vs. 2016,state
0,AL-01,Bradley Byrne (R),89226,153228,163,36.8,63.2,0.1,-26.4,-29.2,2.8,79.3,AL
1,AL-02,Martha Roby (R),86931,138879,420,38.4,61.4,0.2,-23.0,-31.7,8.7,78.7,AL
2,AL-03,Mike Rogers (R),83996,147770,149,36.2,63.7,0.1,-27.5,-33.0,5.5,79.6,AL
3,AL-04,Robert Aderholt (R),46492,184255,222,20.1,79.8,0.1,-59.6,-62.5,2.9,78.9,AL
4,AL-05,Mo Brooks (R),101388,159063,222,38.9,61.0,0.1,-22.1,-32.9,10.8,82.8,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WI-05,Jim Sensenbrenner (R),138385,225619,1,38.0,62.0,0.0,-24.0,-19.8,-4.2,89.7,WI
431,WI-06,Glenn Grothman (R),144536,180311,0,44.5,55.5,0.0,-11.0,-16.6,5.6,87.5,WI
432,WI-07,Sean Duffy (R),124307,194061,4419,38.5,60.1,1.4,-21.6,-20.3,-1.3,86.5,WI
433,WI-08,Mike Gallagher (R),119265,209410,0,36.3,63.7,0.0,-27.4,-17.4,-10,88.3,WI
434,WY-AL,Liz Cheney (R),59903,127963,13379,29.8,63.6,6.6,-33.8,-46.3,12.5,78.7,WY

In [88]:
# sum the votes for each state
house_2018_without_dc = house_2018_raw_state.groupby('state')[['Dem Votes', 'GOP Votes', 'Other Votes']].sum().reindex(state[1]).reset_index().rename(columns = {1: 'state', 'Dem Votes': 'dem_votes', 'GOP Votes': 'gop_votes', 'Other Votes' : 'oth_votes'})
house_2018_without_dc

   state  dem_votes  gop_votes  oth_votes
0     AL   678687.0   975737.0     5471.0
1     AK   131199.0   149779.0     1188.0
2     AZ  1179193.0  1139552.0    22525.0
3     AR   312978.0   556339.0    19981.0
4     CA  8010445.0  3973396.0   200681.0
5     CO  1343211.0  1079772.0    90924.0
6     CT   849341.0   520521.0     9946.0
7     DE   227353.0   125384.0        0.0
8     DC        NaN        NaN        NaN
9     FL  3307228.0  3675417.0    38831.0
10    GA  1814468.0  1987204.0      683.0
11    HI   287921.0    87348.0     7063.0
12    ID   207303.0   367993.0    20428.0
13    IL  2757540.0  1754449.0    27715.0
14    IN  1000104.0  1247978.0     8300.0
15    IA   664676.0   612338.0    39634.0
16    KS   464380.0   563190.0    22752.0
17    KY   612977.0   935304.0    21517.0
18    LA   553184.0   835715.0    71694.0
19    ME   343635.0   250119.0    29670.0
20    MD  1493047.0   737906.0    55331.0
21    MA  1943597.0   497953.0    43531.0
22    MI  2175003.0  1853459.0   126241.0
23    MN  1420769.0  1125533.0    30695.0
24    MS   398770.0   471162.0    68971.0
25    MO  1027969.0  1330975.0    59469.0
26    MT   233284.0   256661.0    14476.0
27    NE   264493.0   432077.0        0.0
28    NV   491272.0   439727.0    29775.0
29    NH   310269.0   249685.0    10517.0
30    NJ  1856819.0  1198664.0    43260.0
31    NM   404026.0   264701.0    24584.0
32    NY  3990483.0  1859054.0    92231.0
33    NC  1771061.0  1846041.0    46224.0
34    ND   114377.0   193568.0    13587.0
35    OH  2082684.0  2291333.0    32341.0
36    OK   428452.0   730531.0    19853.0
37    OR  1061412.0   702531.0    83703.0
38    PA  2712665.0  2206260.0    10950.0
39    RI   242575.0   129838.0      867.0
40    SC   758340.0   927494.0    23458.0
41    SD   121033.0   202695.0    12237.0
42    TN   846450.0  1279655.0    33719.0
43    TX  3852752.0  4135359.0   214597.0
44    UT   374009.0   617307.0    61190.0
45    VT   188547.0    70705.0    13199.0
46    VA  1867061.0  1408701.0    37209.0
47    WA  1888593.0  1048712.0    84646.0
48    WV   234568.0   337146.0     6277.0
49    WI  1367492.0  1172964.0    21641.0
50    WY    59903.0   127963.0    13379.0

In [89]:
# find the 2018 election results for DC
dc_2018_res = requests.get('https://en.wikipedia.org/wiki/2018_United_States_House_of_Representatives_election_in_District_of_Columbia')
dc_2018_soup = BeautifulSoup(dc_2018_res.content, 'lxml')
dc_2018_html = dc_2018_soup.find(text = 'Results').find_next(text = 'Results').find_next('table')
dc_2018_raw = pd.DataFrame(pd.read_html(str(dc_2018_html))[0]).loc[:5, ['Party.1', 'Votes']]
dc_2018_raw

              Party.1   Votes
0          Democratic  199124
1          Republican    9700
2  DC Statehood Green    8636
3         Independent    5509
4         Libertarian    4034
5                 NaN    1766

In [90]:
# sum the other votes
dc_2018_other_votes = dc_2018_raw[~dc_2018_raw['Party.1'].isin(['Democratic', 'Republican'])]['Votes'].astype(int).sum()
dc_2018_other_votes

19945

In [95]:
# create the dataframe for the popular votes
house_2018_with_dc = house_2018_without_dc
house_2018_with_dc.loc[house_2018_with_dc[house_2018_with_dc['state'] == 'DC'].index, 'dem_votes'] = dc_2018_raw.loc[0, 'Votes']
house_2018_with_dc.loc[house_2018_with_dc[house_2018_with_dc['state'] == 'DC'].index, 'gop_votes'] = dc_2018_raw.loc[1, 'Votes']
house_2018_with_dc.loc[house_2018_with_dc[house_2018_with_dc['state'] == 'DC'].index, 'oth_votes'] = dc_2018_other_votes
house_2018_with_dc = house_2018_with_dc.astype({'state': 'object', 'dem_votes': 'int', 'gop_votes': 'int', 'oth_votes': 'int'})
house_2018_with_dc['total_votes'] = house_2018_with_dc['dem_votes'] + house_2018_with_dc['gop_votes'] + house_2018_with_dc['oth_votes']
house_2018_with_dc

   state  dem_votes  gop_votes  oth_votes  total_votes
0     AL     678687     975737       5471      1659895
1     AK     131199     149779       1188       282166
2     AZ    1179193    1139552      22525      2341270
3     AR     312978     556339      19981       889298
4     CA    8010445    3973396     200681     12184522
5     CO    1343211    1079772      90924      2513907
6     CT     849341     520521       9946      1379808
7     DE     227353     125384          0       352737
8     DC     199124       9700      19945       228769
9     FL    3307228    3675417      38831      7021476
10    GA    1814468    1987204        683      3802355
11    HI     287921      87348       7063       382332
12    ID     207303     367993      20428       595724
13    IL    2757540    1754449      27715      4539704
14    IN    1000104    1247978       8300      2256382
15    IA     664676     612338      39634      1316648
16    KS     464380     563190      22752      1050322
17    KY     612977     935304      21517      1569798
18    LA     553184     835715      71694      1460593
19    ME     343635     250119      29670       623424
20    MD    1493047     737906      55331      2286284
21    MA    1943597     497953      43531      2485081
22    MI    2175003    1853459     126241      4154703
23    MN    1420769    1125533      30695      2576997
24    MS     398770     471162      68971       938903
25    MO    1027969    1330975      59469      2418413
26    MT     233284     256661      14476       504421
27    NE     264493     432077          0       696570
28    NV     491272     439727      29775       960774
29    NH     310269     249685      10517       570471
30    NJ    1856819    1198664      43260      3098743
31    NM     404026     264701      24584       693311
32    NY    3990483    1859054      92231      5941768
33    NC    1771061    1846041      46224      3663326
34    ND     114377     193568      13587       321532
35    OH    2082684    2291333      32341      4406358
36    OK     428452     730531      19853      1178836
37    OR    1061412     702531      83703      1847646
38    PA    2712665    2206260      10950      4929875
39    RI     242575     129838        867       373280
40    SC     758340     927494      23458      1709292
41    SD     121033     202695      12237       335965
42    TN     846450    1279655      33719      2159824
43    TX    3852752    4135359     214597      8202708
44    UT     374009     617307      61190      1052506
45    VT     188547      70705      13199       272451
46    VA    1867061    1408701      37209      3312971
47    WA    1888593    1048712      84646      3021951
48    WV     234568     337146       6277       577991
49    WI    1367492    1172964      21641      2562097
50    WY      59903     127963      13379       201245

In [98]:
# create the dataframe for the percentage of votes
house_2018_df = pd.DataFrame(house_2018_with_dc['state'])
house_2018_df['dem_percentage'] = house_2018_with_dc['dem_votes'] / house_2018_with_dc['total_votes']
house_2018_df['gop_percentage'] = house_2018_with_dc['gop_votes'] / house_2018_with_dc['total_votes']
house_2018_df

   state  dem_percentage  gop_percentage
0     AL        0.408873        0.587831
1     AK        0.464971        0.530819
2     AZ        0.503655        0.486724
3     AR        0.351938        0.625593
4     CA        0.657428        0.326102
5     CO        0.534312        0.429519
6     CT        0.615550        0.377242
7     DE        0.644540        0.355460
8     DC        0.870415        0.042401
9     FL        0.471016        0.523454
10    GA        0.477196        0.522625
11    HI        0.753065        0.228461
12    ID        0.347985        0.617724
13    IL        0.607427        0.386468
14    IN        0.443233        0.553088
15    IA        0.504824        0.465073
16    KS        0.442131        0.536207
17    KY        0.390481        0.595812
18    LA        0.378739        0.572175
19    ME        0.551206        0.401202
20    MD        0.653045        0.322753
21    MA        0.782106        0.200377
22    MI        0.523504        0.446111
23    MN        0.551327        0.436761
24    MS        0.424719        0.501822
25    MO        0.425059        0.550351
26    MT        0.462479        0.508823
27    NE        0.379708        0.620292
28    NV        0.511329        0.457680
29    NH        0.543882        0.437682
30    NJ        0.599217        0.386823
31    NM        0.582749        0.381793
32    NY        0.671599        0.312879
33    NC        0.483457        0.503925
34    ND        0.355725        0.602018
35    OH        0.472654        0.520006
36    OK        0.363453        0.619705
37    OR        0.574467        0.380230
38    PA        0.550250        0.447529
39    RI        0.649847        0.347830
40    SC        0.443657        0.542619
41    SD        0.360255        0.603322
42    TN        0.391907        0.592481
43    TX        0.469693        0.504146
44    UT        0.355351        0.586512
45    VT        0.692040        0.259515
46    VA        0.563561        0.425208
47    WA        0.624958        0.347031
48    WV        0.405833        0.583307
49    WI        0.533739        0.457814
50    WY        0.297662        0.635857

In [101]:
# add the columns for the party with the highest percentage for each state and the corresponding margin percentage
dr = []
for i in range(len(house_2018_df)):
    if house_2018_df['dem_percentage'][i] > house_2018_df['gop_percentage'][i]:
        dr.append('D')
    if house_2018_df['gop_percentage'][i] > house_2018_df['dem_percentage'][i]:
        dr.append('R')
house_2018_df['winner'] = dr
house_2018_df['margin_percentage'] = abs(house_2018_df['dem_percentage'] - house_2018_df['gop_percentage'])
house_2018_df

   state  dem_percentage  gop_percentage winner  margin_percentage
0     AL        0.408873        0.587831      R           0.178957
1     AK        0.464971        0.530819      R           0.065848
2     AZ        0.503655        0.486724      D           0.016931
3     AR        0.351938        0.625593      R           0.273655
4     CA        0.657428        0.326102      D           0.331326
5     CO        0.534312        0.429519      D           0.104793
6     CT        0.615550        0.377242      D           0.238309
7     DE        0.644540        0.355460      D           0.289079
8     DC        0.870415        0.042401      D           0.828014
9     FL        0.471016        0.523454      R           0.052438
10    GA        0.477196        0.522625      R           0.045429
11    HI        0.753065        0.228461      D           0.524604
12    ID        0.347985        0.617724      R           0.269739
13    IL        0.607427        0.386468      D           0.220960
14    IN        0.443233        0.553088      R           0.109855
15    IA        0.504824        0.465073      D           0.039751
16    KS        0.442131        0.536207      R           0.094076
17    KY        0.390481        0.595812      R           0.205330
18    LA        0.378739        0.572175      R           0.193436
19    ME        0.551206        0.401202      D           0.150004
20    MD        0.653045        0.322753      D           0.330292
21    MA        0.782106        0.200377      D           0.581729
22    MI        0.523504        0.446111      D           0.077393
23    MN        0.551327        0.436761      D           0.114566
24    MS        0.424719        0.501822      R           0.077103
25    MO        0.425059        0.550351      R           0.125291
26    MT        0.462479        0.508823      R           0.046344
27    NE        0.379708        0.620292      R           0.240585
28    NV        0.511329        0.457680      D           0.053649
29    NH        0.543882        0.437682      D           0.106200
30    NJ        0.599217        0.386823      D           0.212394
31    NM        0.582749        0.381793      D           0.200956
32    NY        0.671599        0.312879      D           0.358720
33    NC        0.483457        0.503925      R           0.020468
34    ND        0.355725        0.602018      R           0.246293
35    OH        0.472654        0.520006      R           0.047352
36    OK        0.363453        0.619705      R           0.256252
37    OR        0.574467        0.380230      D           0.194237
38    PA        0.550250        0.447529      D           0.102722
39    RI        0.649847        0.347830      D           0.302017
40    SC        0.443657        0.542619      R           0.098961
41    SD        0.360255        0.603322      R           0.243067
42    TN        0.391907        0.592481      R           0.200574
43    TX        0.469693        0.504146      R           0.034453
44    UT        0.355351        0.586512      R           0.231161
45    VT        0.692040        0.259515      D           0.432525
46    VA        0.563561        0.425208      D           0.138353
47    WA        0.624958        0.347031      D           0.277927
48    WV        0.405833        0.583307      R           0.177473
49    WI        0.533739        0.457814      D           0.075925
50    WY        0.297662        0.635857      R           0.338195

In [102]:
# export the dataframe to a csv file
house_2018_df.to_csv('../data/processed/2018_house_election.csv', index = False)